<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/css/style.css"
    />
  </head>

  <body>
    <form>
      <input
        type="text"
        name="name"
        placeholder="search tour name"
      /><br />

      <p>filter by price</p>
      <input
        value="100"
        type="radio"
        class="btn-check"
        name="price"
        id="small"
        autocomplete="off"
      />
      <label
        class="btn btn-outline-primary me-2"
        for="small"
        >diatas Rp.100</label
      ><br />

      <input
        value="10000"
        type="radio"
        class="btn-check"
        name="price"
        id="small"
        autocomplete="off"
      />
      <label
        class="btn btn-outline-primary me-2"
        for="small"
        >diatas Rp.10000</label
      ><br />

      <input
        value="100000"
        type="radio"
        class="btn-check"
        name="price"
        id="small"
        autocomplete="off"
      />
      <label
        class="btn btn-outline-primary me-2"
        for="small"
        >diatas Rp.100000</label
      ><br />

      <button type="submit">search</button>
    </form>
    <h1>Hello FSW2</h1>
    <!-- <p><%= tours %></p> -->
    <table>
      <th>id</th>
      <th>nama</th>
      <th>harga</th>
      <th>rating</th>
      <% tours.forEach((tour)=> { %>
      <tr>
        <td><%= tour.id %></td>
        <td><%= tour.name %></td>
        <td><%= tour.price %></td>
        <td><%= tour.rating %></td>
      </tr>
      <% }) %>
    </table>
    <a href="/dashboard/create">
      <button>Tambah Data Tour Baru</button>
    </a>
  </body>
</html>
